partner-feed-tms-validator (1).xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>Roku partner tms id content feed schema</xs:appinfo>
    <xs:documentation>
      This Schema defines a search content feed for Roku search partner that provide a TMS id.
    </xs:documentation>
  </xs:annotation>

  <xs:simpleType name="requiredStringType">
    <xs:annotation>
      <xs:documentation>
        This type defines a require string. Must contain at least 1 character
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="priceType">
    <xs:annotation>
      <xs:documentation>
        Defines price which must contain at least two decimal points
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="qualityType">
    <xs:annotation>
      <xs:documentation>
        Defineds acceptable viewing formats
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="requiredStringType">
      <xs:enumeration value="SD" />
      <xs:enumeration value="sd" />
      <xs:enumeration value="HD" />
      <xs:enumeration value="hd" />
      <xs:enumeration value="HD+" />
      <xs:enumeration value="hd+">
        <xs:annotation>
          <xs:documentation>
            High definition plus (full 1080p)
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="licenseType">
    <xs:annotation>
      <xs:documentation>
        Used to define acceptable license types
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="requiredStringType">
      <xs:enumeration value="free">
        <xs:annotation>
          <xs:documentation>
            Use this if the film is entirely free without subscription
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Free" />
      <xs:enumeration value="purchase">
        <xs:annotation>
          <xs:documentation>
            Use this if the film can be purchased for repetitive viewing (added to a video library or downloaded)
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Purchase" />
      <xs:enumeration value="rental">
        <xs:annotation>
          <xs:documentation>
            Use this if the film can be purchased for timeframe-limited viewing
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Rental" />
      <xs:enumeration value="subscription">
        <xs:annotation>
          <xs:documentation>
            Use this if the the price is zero dollars and part of a subscription package
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Subscription" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="currencyType">
    <xs:annotation>
      <xs:documentation>
        Defines acceptable ISO 4217 currency codes
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD" />
      <xs:enumeration value="usd" />
      <xs:enumeration value="GBP" />
      <xs:enumeration value="gbp" />
      <xs:enumeration value="CAD" />
      <xs:enumeration value="cad" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="regionType">
    <xs:annotation>
      <xs:documentation>
        Defines acceptable regions
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="us" />
      <xs:enumeration value="US" />
      <xs:enumeration value="ca" />
      <xs:enumeration value="CA" />
      <xs:enumeration value="gb" />
      <xs:enumeration value="GB" />
      <xs:enumeration value="ie" />
      <xs:enumeration value="IE" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="playIdType">
    <xs:restriction base="requiredStringType">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="videosType">
    <xs:sequence>
      <xs:element name="video" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="region" type="regionType" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>If omitted, us will be default</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="playId" type="playIdType" minOccurs="1" maxOccurs="1" />
            <xs:element name="viewOptions" type="viewOptionsType" minOccurs="1" maxOccurs="1">
              <xs:unique name="uniqueVideoOptions">
                <xs:selector xpath="option" />
                <xs:field xpath="quality" />
                <xs:field xpath="license" />
              </xs:unique>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewOptionsType">
    <xs:sequence>
      <xs:element name="option" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:all>
            <xs:element name="price" type="priceType" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  May be omitted if licenseType is subscription or free. When omitted, price will be set to 0.00.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="currency" type="currencyType" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>
                  If omitted, USD will be used.
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="quality" type="qualityType" minOccurs="1" maxOccurs="1"  />
            <xs:element name="license" type="licenseType" minOccurs="1" maxOccurs="1" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>   
  </xs:complexType>
 
  
  <xs:simpleType name="tmsIdType">
    <xs:annotation>
      <xs:documentation>
        Used to validate TMSId.
        The TMSId is a 14 character Tribune ID scheme used to uniquely identify program records. e.g.  MV123456780000

        The first two characters in the ID represent the unique ID domain applied to the program record: MV123456780000

        MV = Movie (theatrical, made-for-television, direct-to-video)
        SH = TV Show
        EP = TV Episode

        The next 12 characters will be the unique numeric value within that database. This implies that the numeric sequence could be the identical across the four ID domains.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(MV|SH|EP)\d{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="oldStyle">
    <xs:sequence>
      <xs:element name="playId" type="playIdType" minOccurs="1" maxOccurs="1" />
      <xs:element name="viewOptions" type="viewOptionsType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:group>

  <xs:element name="partnerContent">
    <xs:complexType>
      <xs:all>
        <xs:element name="movies" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="movie" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="title" minOccurs="0" maxOccurs="1"  />
                    <xs:choice>
                      <xs:element name="videos" type="videosType" minOccurs="1" maxOccurs="1" />
                      <xs:group ref="oldStyle" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="tmsId" type="tmsIdType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="uniqueMovieTmsId">
            <xs:selector xpath="movie" />
            <xs:field xpath="@tmsId" />
          </xs:unique>
        </xs:element>

        <xs:element name="seriesItems" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="series"  minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="title" minOccurs="0" maxOccurs="1" />
                    <xs:element name="episodes" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="episode" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="title" minOccurs="0" maxOccurs="1"  />
                                <xs:choice>
                                  <xs:element name="videos" type="videosType" minOccurs="1" maxOccurs="1" />
                                  <xs:group ref="oldStyle" />
                                </xs:choice>
                              </xs:sequence>
                              <xs:attribute name="tmsId" type="tmsIdType" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                      <xs:unique name="uniqueEpisodeTmsId">
                        <xs:selector xpath="episode" />
                        <xs:field xpath="@tmsId" />
                      </xs:unique>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="tmsId" type="tmsIdType" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="uniqueSeriesTmsId">
            <xs:selector xpath="series" />
            <xs:field xpath="@tmsId" />
          </xs:unique>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>